<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="../../stylesheet/styles.css">
</head>

<body>
  <!-- Header -->
  <header>
    <h1>{ Blog em processo de desenvolvimento }</h1>
  </header>

  <!-- Navbar -->
  <nav>
    <ul>
      <li><a>Home</a></li>
      <li><a>Sobre</a></li>
    </ul>
  </nav>

  <!-- Main body -->
  <div id="particles-js">

    <!-- Article -->
    <div class="article">
      <a href="/" class="button-normal">All Articles</a>
      <a href="/articles/edit/<%= article.id%>" class="button-normal">Edit</a>
      <div id="article-date">
        <%= article.createdAt.toLocaleDateString() %>
      </div>
      <h1 id="article-title"><%= article.title %></h1>
      <div id="article-content">
        <%- article.sanitizedHTML %>
      </div>
    </div>

    <!-- New comment -->
    <form action="/articles/do-comment?_method=PUT/" method="POST">
      <div>
        <label for="title">Title</label>
        <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
      </div>

      <div>
        <label for="description">Description</label>
        <textarea name="description" id="description" class="form-control"> <%= article.description %> </textarea>
      </div>

      <div>
        <label for="markdown">Markdown</label>
        <textarea required name="markdown" id="markdown" class="form-control"> <%= article.markdown %> </textarea>
      </div>

      <button type="submit" class="button-normal">Save</button>
    </form>

  </div>

  <!-- Scripts -->
  <script src="/scripts/particles.js" type="text/javascript"></script>
  <script src="/scripts/app.js" type="text/javascript"></script>
</body>

</html>